<link rel="stylesheet" href="/style/home-main.css">
<main class="home-container">
    <button class="add-button" id="add-task-button">+</button>
    <input type="text" name="" id="search" class="home-search" placeholder="Buscar Tarea">
    <div class="todo-card " id="add-task">
            <form action="" id="form-task" class="form-add-todo">
                <button class="add-task-close" id="add-task-close-button">X</button>    
                <h2 class="title-task">Agregar Tarea </h2>
                <input type="text"  id="add-task__title" class="input-add-task" placeholder="Titulo">
                <label for="add-task__date">Fecha Límite
                    <input type="date"  name="add-task__date" id="add-task__date" class="input-add-task">
                </label>
                <textarea name="" cols="30" rows="10" placeholder="Descripción" class="textarea-add-task" id="description"></textarea>
                <input type="submit" class="btn" value="Add Task">
            </form>
    </div>

    <div class="cards">

        <% tasks.forEach(task => {%>
            
            <div class="card" style="--status-color:<%=task.colorStatus%>;">
                <input type="text" class="hidden-card" name="" value="<%=task.id%>">
                <p class="card__status" style="--status-color:<%=task.colorStatus%>;"><%=task.status%></p>
                <h2 class="card__title"><%= task.title%></h2>
                <div class="card__buttons">
                    <button id="delete-button" class="card__delete card__button">Eliminar</button>
                    <button class="card__details card__button">Detalles</button>
                </div>
            </div>
        <%});%>

        <!-- <div class="card">
            <p class="card__status">Completado</p>
            <h2 class="card__title">Titulo</h2>
            <div class="card__buttons">
                <button class="card__delete card__button">Eliminar</button>
                <button class="card__details card__button">Detalles</button>
            </div>
        </div>
        <div class="card">
            <p class="card__status">Completado</p>
            <h2 class="card__title">Titulo</h2>
            <div class="card__buttons">
                <button class="card__delete card__button">Eliminar</button>
                <button class="card__details card__button">Detalles</button>
            </div>
        </div>
        <div class="card">
            <p class="card__status">Completado</p>
            <h2 class="card__title">Titulo</h2>
            <div class="card__buttons">
                <button class="card__delete card__button">Eliminar</button>
                <button class="card__details card__button">Detalles</button>
            </div>
        </div>
        <div class="card">
            <p class="card__status">Completado</p>
            <h2 class="card__title">Titulo</h2>
            <div class="card__buttons">
                <button class="card__delete card__button">Eliminar</button>
                <button class="card__details card__button">Detalles</button>
            </div>
        </div>
        <div class="card">
            <p class="card__status">Completado</p>
            <h2 class="card__title">Titulo</h2>
            <div class="card__buttons">
                <button class="card__delete card__button">Eliminar</button>
                <button class="card__details card__button">Detalles</button>
            </div>
        </div>
        <div class="card">
            <p class="card__status">Completado</p>
            <h2 class="card__title">Titulo</h2>
            <div class="card__buttons">
                <button class="card__delete card__button">Eliminar</button>
                <button class="card__details card__button">Detalles</button>
            </div>
        </div> -->
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script src="/js/home-main.js"></script>
<script src="/js/insertTask.js"></script>
<script src="/js/deleteTask.js"></script>
<script src="/js/editTask.js"></script>